---
import Layout from '../layouts/Layout.astro';
interface Project{
  title: string
  description: string
}
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
const projects = await Astro.glob<Project>('../pages/projects/*.md')
console.log(projects)
---

<Layout>
  <section class="hero">
  <section>
    <h1 class="nombre">{meData.nombre}</h1>
    <p class="profesion">{meData.profesion}</p>
    <p class="bio">{meData.biografía}</p>
  </section>
  <section>
    <h2>Proyectos</h2>
    {projects.map((project) => (
      <a href={project.url} class="enlace-proyecto">
        <article class="proyecto">
          <h3>{project.frontmatter.title}</h3>
          <p>{project.frontmatter.description}</p>
        </article>
      </a>
    ))}
  </section>
  <section>
    <h2>Experiencia:</h2>
      {
        meData.experencia.map((item) => (
          <article class="experencia">
            <p class="titulo-experencia">{item.nombre}</p>
	          <p class="descripción-experencia">{item.descripcion}</p>
            <p class="fecha-experencia">{item.fecha}</p>
          </article>
        ))
      }
  </section>
  <section>
    <h2>Habilidades:</h2>
    <div class="envoltura-habilidades">
      {
        meData.habilidades.map((habilidad) => (
          <article class="habilidad">
            <p>{habilidad}</p>
          </article>
        ))
      }
      </div>
  </section>
</section>
  <footer>
    <p>Hecho por gregolopez, Ver en <a href="https://github.com/gregoriolopeez/portfolio">GitHub</a></p>
    <p>2025</p>
  </footer>
  </Layout>
  
