---
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
---

<Layout>
	<h1>{meData.nombre + " " + meData.apellidos}</h1>
	<h2>{meData.ubicacion}</h2>
	<h3>{meData.profesion}</h3>
	<p>{meData.servicios}</p>
	<p>{meData.intereses}</p>
	<p>{meData.herramientas}</p>
</Layout>
