---
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
---

<Layout>
	<h1>{meData.nombre}</h1>
  <h2>{meData.profesion}</h2>
  <p>{meData.biografía}</p>

  <section>
    <h3>Experiencia:</h3>
    <ul>
      {meData.experencia.map((item, index) => (
        <li>
          <h4>{item.nombre} ({item.fecha}):</h4>
		      <p>{item.descripcion}</p>
        </li>
      ))}
    </ul>
  </section>

  <section>
    <h3>Habilidades:</h3>
    <ul>
      {meData.habilidades.map((habilidad, index) => (
        <li>{habilidad}</li>
      ))}
    </ul>
  </section>
  </Layout>
  
