---
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
---

<Layout>
  <h1>{meData.nombre}</h1>
  <h2>{meData.profesion}</h2>
  <p>{meData.biografía}</p>

  <section>
    <h3>Experiencia:</h3>
      {meData.experencia.map((item, index) => (
        <article>
          <p>{item.nombre}:</p>
	        <p>{item.descripcion}</p>
          <p>{item.fecha}</p>
        </article>
      ))}
  </section>

  <section>
    <h3>Habilidades:</h3>
      {meData.habilidades.map((habilidad, index) => (
        <article>
          <p>{habilidad}</p>
        </article>
      ))}
  </section>
  </Layout>
  
