---
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData } = await import('../assets/me.json')
---

<Layout>
<<<<<<< HEAD
  <section class="hero">
=======
  <section>
>>>>>>> bd49dd850d18706c9be66029b29251576dd018ac
    <h1 class="nombre">{meData.nombre}</h1>
    <p class="profesion">{meData.profesion}</p>
    <p class="bio">{meData.biografía}</p>
  </section>

  <section>
    <h2>Experiencia:</h2>
      {
        meData.experencia.map((item) => (
          <article class="experencia">
            <p class="titulo-experencia">{item.nombre}</p>
	          <p class="descripción-experencia">{item.descripcion}</p>
            <p class="fecha-experencia">{item.fecha}</p>
          </article>
        ))
      }
  </section>
  <section>
    <h2>Habilidades:</h2>
    <div class="envoltura-habilidades">
      {
        meData.habilidades.map((habilidad) => (
          <article class="habilidad">
            <p>{habilidad}</p>
          </article>
        ))
      }
      </div>
  </section>
  <footer>
    <p>Hecho por gregolopez, Ver en <a href="https://github.com/gregoriolopeez/portfolio">GitHub</a></p>
    <p>2025</p>
  </footer>
  </Layout>
  
